@import "tailwindcss";
@import "./assets/fonts.css";

/* Add global styles for font and color */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #1E1E1E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for horizontal scroll sections */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}